PORT=
NODE_ENV=
LOG_LEVEL=

THROTTLE_TTL=
THROTTLE_LIMIT=

DATABASE_URL=
FRONTEND_BASE_URL=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
OTP_EXPIRES_IN=

SECRET_API_KEY=
RESEND_API_KEY=

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_NAME=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

USER_EMAIL=
USER_PASSWORD=
USER_NAME=
